@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  height: 65px;
  display: flex;
  margin: 0 auto;
}

.navigation {
  width: 1200px;
  display: grid;
  grid-template-columns: 139px 390px 264px;
  column-gap: 30px;
}

.logo {
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: 30px;
}

.navigation-item {
  /* margin: 20px 17px; */
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link {
  display: block;
}

.welcome {
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 50px;
  padding-bottom: 83px;
  background-color: blue;
}

.welcome-image {
  margin: 0 auto;
  display: block;
}

.description {
  margin: 0 auto;
  display: block;
  height: 282px;
}

.description-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.description-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  display: flex;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item-1 {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 384px;
  margin: 0;
  padding: 0;
  background-color: #82B3D3;
  text-align: center;
}

.advantages-item-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #82B3D3;
  text-align: center;
}

.advantages-item {
  width: 400px;
  height: 384px;
  background-color: #bbdff7;
  text-align: center;
}

.advantages-item-5 {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 384px;
  margin: 0;
  padding: 0;
  background-color: #82B3D3;
  text-align: center;
}

.advantages-item-6 {
  width: 400px;
  height: 384px;
  background-color: #75e2f1;
  text-align: center;
}

.services {
  width: 1200px;
  height: 417px;
  background-color: #ffffff;
  text-align: center;
}

.newsletter {
  width: 1200px;
  height: 411px;
  background-image: url(../images/background-newsletter.jpg);
  text-align: center;
}

.page-footer {
  display: flex;
  height: 120px;
  background-color: #ffffff;
}

.footer-social {
  display: grid;
}

.footer-social-list {
  display: flex;
}